body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

header {
  width: 100vw;
  height: 120px;
  background: white;
}

.container {
  max-width: 1000px;
  margin: auto;
  height: 100%;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.header-container {
  display: flex;
  align-items: center;
}

.section-container {
  max-height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 80px 0;
}

.half-section {
  width: 50%;
}

section {
  width: 100vw;
  max-height: 650px;
}

section:nth-of-type(odd) {
  background-color: #EA493D;
}

section:nth-of-type(even) h1, section:nth-of-type(even) h2 {
  color: #EA493D;
}

section:nth-of-type(even) h3 {
  color: #404040;
}

section:nth-of-type(even) p {
  color: #404040;
}

.logo {
  width: 215px;
}

h1, h2 {
  font-family: 'Noto Serif';
  margin: 0;
  line-height: 70px;
  color: white;
  font-weight: bold;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 40px;
}

p {
  color: white;
  margin: 8px 0;
  font-size: 18px;
  line-height: 25px;
}

p:first-of-type {
  margin-top: 15px;
}

p:last-of-type {
  margin-bottom: 15px;
}

.basic-button {
  margin: 0;
  width: auto;
  overflow: visible;
  background: #EA493D;
  border: #ffffff 2px solid;
  border-radius: 4px;
  padding: 8px 10px;
  margin-right: 10px;
  font-size: 15px;
  color: white;
  cursor: pointer;
  outline: none;
}

.solid-white {
  border: #ffffff 2px solid;
  color: #EA493D;
  background: white;
}

.invert-white {
  border: #EA493D 2px solid;
  color: #EA493D;
  background: white;
}