:root {
  --primary-color: #f83d2f;
}

path { /*target the image with css*/
  fill: var(--primary-color);
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #ffffff;
}

header {
  width: 100vw;
  height: 120px;
  background: white;
}

.container {
  max-width: 950px;
  margin: auto;
  height: 100%;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.header-container {
  display: flex;
  align-items: center;
  padding: 0;
}

.quote-group {
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  margin: 20px 0;
}

.quote-group-title {
  background-color: var(--primary-color);
  color: white;
  padding: 20px;
  font-size: 18px;
  margin: 0;
}

.quote-group-main {
}

.quote-group-title h3 {
  margin: 0;
}

.section-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 80px 0;
}

.half-section {
  width: 100%;
}

section {
  width: 100vw;
}

section:nth-of-type(odd) {
  background-color: var(--primary-color);
}

section:nth-of-type(even) h1, section:nth-of-type(even) h2 {
  color: var(--primary-color);
}

section:nth-of-type(even) p {
  color: #404040;
}

.logo {
  width: 215px;
}

h1, h2 {
  font-family: 'Noto Serif';
  margin: 0;
  line-height: 55px;
  color: white;
  font-weight: bold;
}

h1 {
  font-size: 46px;
}

h2 {
  font-size: 40px;
}

p {
  color: white;
  margin: 8px 0;
  font-size: 20px;
  line-height: 25px;
}

p:first-of-type {
  margin-top: 0px;
}

p:last-of-type {
  margin-bottom: 0px;
}

.basic-button {
  margin: 0;
  width: auto;
  overflow: visible;
  background: var(--primary-color);
  border: #ffffff 2px solid;
  border-radius: 4px;
  padding: 8px 10px;
  margin-right: 10px;
  font-size: 15px;
  color: white;
  cursor: pointer;
  outline: none;
}

.solid-white {
  border: #ffffff 2px solid;
  color: var(--primary-color);
  background: white;
}

.invert-white {
  border: var(--primary-color) 2px solid;
  color: var(--primary-color);
  background: white;
}